@tailwind base;
@tailwind components;
@tailwind utilities;

.link-footer {
    @apply text-gray font-footer uppercase relative inline-block;
}

.link-footer:hover{
    @apply text-green duration-300 transition-all;
}

.link-main-footer{
    @apply text-king-red font-btn uppercase inline-block cursor-pointer relative;
}


.info-wysing-terms h1,
.info-wysing-terms h2,
.info-wysing-terms h3,
.info-wysing-terms h4,
.info-wysing-terms h5 {
    @apply text-gray mb-6;
}

.info-wysing-terms p,
.info-wysing-terms a {
    @apply text-gray parrafo mb-4;
}

.info-wysing-terms ol {
    @apply list-decimal list-inside text-gray parrafo mb-4;
}

.info-wysing-terms ul {
    @apply list-disc list-inside text-gray parrafo mb-2;
}

.info-wysing h1,
.info-wysing h2,
.info-wysing h3,
.info-wysing h4,
.info-wysing h5,
.info-wysing ul,
.info-wysing p,
.info-wysing ol {
    @apply mb-4;
}

.info-wysing p {
    @apply text-black parrafo;
}

.info-wysing ul,
.info-wysing ol {
    @apply list-disc list-inside text-black parrafo;
}

.info-wysing h5 {
    @apply text-green;
}

.link-menu-mobile {
    @apply h2 text-king-red capitalize inline-block text-[28px];
}

.link-animation-menu {
    @apply opacity-0 translate-y-4;
}

.swiper-eventos .swiper-slide.swiper-slide-active .card-evento .fecha-evento,
.swiper-eventos .swiper-slide.swiper-slide-active .card-evento .texto-evento {
    @apply block;
}

.loader {
    font-size: 42px;
    width: fit-content;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
}
.loader:before {
    /* content: "Loading..."; */
    content: attr(data-text);
}
@keyframes l5 {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.menu__link{
    @apply font-menu uppercase text-gray text-center relative cursor-pointer inline-block;
}

.menu__link:hover{
    @apply text-king-red;
    transition:
    right 0.4s,
    width 0.4s,
    left 0.4s;
}

.link-hover-line::before, .link-footer::before {
    @apply w-0 h-[1px] rounded-[2px] absolute -bottom-[0.25rem] right-0;
    content: "";
    transition:
        right 0.4s,
        width 0.4s,
        left 0.4s;
}

.link-hover-line:hover::before, .link-footer:hover::before {
    @apply w-full left-0;
}

.link-hover-line.red-king::before {
    @apply bg-king-red;
}


.link-footer::before {
    @apply bg-green;
}

.icon-down1{
    animation: 1.6s ease infinite wheel-up-down;
}

.icon-down2{
    animation-delay: 0.2s;
}

@keyframes wheel-up-down {
	0% {
	    transform: translateY(2px);
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
        transform: translateY(20px);
	    opacity: 0;
	}
}